.env
__pycache__/
*.pyc
database.db
.venv/
venv/
*.pyo
*.pyd
.env.local
.DS_Store
.vscode/
.idea/
*.log
*.sqlite3
node_modules/
coverage/
htmlcov/
*.egg-info/
.mypy_cache/
.pytest_cache/
/dist/
/build/
.Pipfile.lock
